







body {
    color: white;
}

p {
    color: black;
}

table {
    color: black;
}

h1 {
    color: black;
}

a {
    color: black;
}

.bc {
    color: black;
}

.nah {
    color: black;
}


#Slay {
    color: red;
}